<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/mydb"/>
        <property name="username" value="root"/>
    </bean>

    <bean id="userDao" class="user.springbook.dao.UserDaoJdbc">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userService" class="user.springbook.service.UserService">
        <property name="UserDao" ref="userDao"/>
        <property name="UpgradePolicy" ref="UpgradePolicy"></property>
    </bean>

    <bean id="UpgradePolicy" class="user.springbook.service.CommonUserLevelUpgradePolicy">
    </bean>
</beans>
